Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0/xunit.runner.visualstudio.props
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0/xunit.runner.utility.netstandard11.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0/xunit.runner.reporters.netstandard11.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.runner.visualstudio.props
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.runner.visualstudio.dotnetcore.testadapter.deps.json
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.runner.utility.netcoreapp10.xml
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.runner.utility.netcoreapp10.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.runner.reporters.netcoreapp10.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0/xunit.abstractions.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/net20/xunit.runner.visualstudio.props
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/_common/xunit.runner.visualstudio.testadapter.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/_common/xunit.runner.utility.net452.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/_common/xunit.runner.reporters.net452.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/_common/xunit.abstractions.dll
Auto.Core.Reporter/packages/xunit.extensibility.execution.2.3.1/xunit.extensibility.execution.2.3.1.nupkg
Auto.Core.Reporter/packages/xunit.assert.2.3.1/lib/netstandard1.1/xunit.assert.xml
Auto.Core.Reporter/packages/xunit.assert.2.3.1/lib/netstandard1.1/xunit.assert.dll
Auto.Core.Reporter/packages/xunit.analyzers.0.7.0/xunit.analyzers.0.7.0.nupkg
Auto.Core.Reporter/packages/xunit.analyzers.0.7.0/tools/uninstall.ps1
Auto.Core.Reporter/packages/xunit.analyzers.0.7.0/tools/install.ps1
Auto.Core.Reporter/packages/xunit.analyzers.0.7.0/analyzers/dotnet/cs/xunit.analyzers.dll
Auto.Core.Reporter/packages/xunit.abstractions.2.0.1/xunit.abstractions.2.0.1.nupkg
Auto.Core.Reporter/packages/xunit.abstractions.2.0.1/lib/netstandard1.0/xunit.abstractions.xml
Auto.Core.Reporter/packages/xunit.abstractions.2.0.1/lib/netstandard1.0/xunit.abstractions.dll
Auto.Core.Reporter/packages/xunit.abstractions.2.0.1/lib/net35/xunit.abstractions.xml
Auto.Core.Reporter/packages/xunit.abstractions.2.0.1/lib/net35/xunit.abstractions.dll
Auto.Core.Reporter/packages/xunit.2.3.1/xunit.2.3.1.nupkg
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/Auto.Core.Reporter.dll
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/Auto.Core.Reporter.csproj.FileListAbsolute.txt
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.runner.visualstudio.testadapter.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.runner.utility.net452.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.runner.reporters.net452.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.execution.desktop.xml
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.execution.desktop.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.core.xml
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.core.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.assert.xml
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.assert.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/xunit.abstractions.dll
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/Auto.Core.Reporter.pdb
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/Auto.Core.Reporter.dll.config
Auto.Core.Reporter/Auto.Core.Reporter/bin/Debug/Auto.Core.Reporter.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/xunit.runner.visualstudio.2.3.1.nupkg
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0/xunit.runner.visualstudio.uwp.pri
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0/xunit.runner.visualstudio.uwp.dll
Auto.Core.Reporter/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0/xunit.runner.visualstudio.targets
Auto.Core.Reporter/packages/xunit.extensibility.execution.2.3.1/lib/netstandard1.1/xunit.execution.dotnet.xml
Auto.Core.Reporter/packages/xunit.extensibility.execution.2.3.1/lib/netstandard1.1/xunit.execution.dotnet.dll
Auto.Core.Reporter/packages/xunit.extensibility.execution.2.3.1/lib/net452/xunit.execution.desktop.xml
Auto.Core.Reporter/packages/xunit.extensibility.execution.2.3.1/lib/net452/xunit.execution.desktop.dll
Auto.Core.Reporter/packages/xunit.extensibility.core.2.3.1/xunit.extensibility.core.2.3.1.nupkg
Auto.Core.Reporter/packages/xunit.extensibility.core.2.3.1/lib/netstandard1.1/xunit.runner.utility.net452.dll
Auto.Core.Reporter/packages/xunit.extensibility.core.2.3.1/lib/netstandard1.1/xunit.runner.tdnet.dll
Auto.Core.Reporter/packages/xunit.extensibility.core.2.3.1/lib/netstandard1.1/xunit.core.xml
Auto.Core.Reporter/packages/xunit.extensibility.core.2.3.1/lib/netstandard1.1/xunit.core.dll.tdnet
Auto.Core.Reporter/packages/xunit.extensibility.core.2.3.1/lib/netstandard1.1/xunit.core.dll
Auto.Core.Reporter/packages/xunit.core.2.3.1/xunit.core.2.3.1.nupkg
Auto.Core.Reporter/packages/xunit.core.2.3.1/buildMultiTargeting/xunit.core.targets
Auto.Core.Reporter/packages/xunit.core.2.3.1/buildMultiTargeting/xunit.core.props
Auto.Core.Reporter/packages/xunit.core.2.3.1/build/xunit.execution.desktop.dll
Auto.Core.Reporter/packages/xunit.core.2.3.1/build/xunit.core.targets
Auto.Core.Reporter/packages/xunit.core.2.3.1/build/xunit.core.props
Auto.Core.Reporter/packages/xunit.assert.2.3.1/xunit.assert.2.3.1.nupkg
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/Auto.Core.Reporter.pdb
Auto.Core.Reporter/Auto.Core.Reporter/obj/Debug/Auto.Core.Reporter.csprojResolveAssemblyReference.cache
Auto.Core.Reporter/.vs/Auto.Core.Reporter/v14/.suo
